@model IEnumerable<HealthInsurance.Models.Testimonials>
@{
    Layout = "_AdminLayout";
}
<style>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: transparent;
    }
</style>
<div class="row justify-content-center mt-3">
    <div class="col-8">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Submission Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var testimonial in Model)
                {
                    <tr>
                        <td>@testimonial.User.Username</td>
                        <td>@testimonial.Rating</td>
                        <td>@testimonial.Commentt</td>
                        <td>@testimonial.SubmissionDate.ToShortDateString()</td>
                        <td>
                            @Html.DisplayFor(modelItem => testimonial.Status)
                        </td>
                        <td>
                            <form asp-action="UpdateTestimonialStatus" asp-route-UserId="@testimonial.Id" method="post">
                                <div>
                                    <select for="newStatus" asp-items="ViewBag.StatusOptions">
                                    </select>
                                    <button type="submit" name="newStatus" value="Accepted" class="btn btn-success">Accept</button>
                                    <button type="submit" name="newStatus" value="Rejected" class="btn btn-danger">Reject</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
