@model IEnumerable<HealthInsurance.Models.Users>

@{
    ViewData["Title"] = "SubSearch";
    Layout = "_AdminLayout";
}
<link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body ">
                    <h4 class="card-title">Search between two subscription dates</h4>
                    <form class="form-inline" asp-action="SubSearch" method="post">
                        <label class="sr-only" for="startDate">Start Date</label>
                        <input type="date" class="form-control mb-2 mr-sm-2" id="startDate" name="startDate" placeholder="Start Date">

                        <label class="sr-only" for="endDate">End Date</label>
                        <input type="date" class="form-control mb-2 mr-sm-2" id="endDate" name="endDate" placeholder="End Date">

                        <div class="text-center mb-2 mt-2">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-12">
            <table id="subSearchTable" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone Number
                        </th>
                        <th>
                            Subscription Status
                        </th>
                        <th>
                            StartDate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subscription.Status)
                            </td>
                            <td>
                                @item.Subscription.StartDate.ToShortDateString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('#subSearchTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    title: 'Customer_Beneficiares_Report', // Set the title here
                }
            ]
        });
    });
</script>
