@model IEnumerable<HealthInsurance.Models.Testimonials>

@{
    Layout = "_AdminLayout";
}

<div class="row justify-content-center mt-3">
    <div class="col-10">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Comment
                    </th>
                    <th>
                        SubmissionDate
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Status == "Accepted")
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Commentt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubmissionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
