@model IEnumerable<HealthInsurance.Models.HomePage>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="row justify-content-center mt-3">
    <div class="col-10">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.LogoPath)</td>
                        <td>@Html.DisplayFor(modelItem => item.LogoPath)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.HeaderComponent1)</td>
                        <td>@Html.DisplayFor(modelItem => item.HeaderComponent1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.HeaderComponent2)</td>
                        <td>@Html.DisplayFor(modelItem => item.HeaderComponent2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.FooterComponent1)</td>
                        <td>@Html.DisplayFor(modelItem => item.FooterComponent1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.FooterComponent2)</td>
                        <td>@Html.DisplayFor(modelItem => item.FooterComponent2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.ImagePath1)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImagePath1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.ImagePath2)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImagePath2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Text1)</td>
                        <td>@Html.DisplayFor(modelItem => item.Text1)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Text2)</td>
                        <td>@Html.DisplayFor(modelItem => item.Text2)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Text3)</td>
                        <td>@Html.DisplayFor(modelItem => item.Text3)</td>
                    </tr>
                    <tr>
                        <td>Edit and Delete</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
