@model IEnumerable<HealthInsurance.Models.ContactUs>

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<style>
    .horizontal-table {
        width: 100%;
    }

        .horizontal-table th,
        .horizontal-table td {
            width: 50%;
            text-align: left;
            border-bottom: 1px solid #ccc; 
            padding: 10px;
        }

        .horizontal-table a {
            white-space: nowrap;
        }

    .spacer {
        height: 20px;
        border-bottom: 1px solid transparent;
    }
</style>

<div class="row justify-content-center mt-3">
    <div class="col-10 offset-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 50%;">Field</th>
                    <th style="width: 50%;">Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Message)</td>
                        <td>@Html.DisplayFor(modelItem => item.Message)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => item.Subject)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                    </tr>
                    <tr>
                        <td>Edit and Delete</td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                }
            </tbody>
        </table>
    </div>
</div>
