@model HealthInsurance.Models.AboutUs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AboutUs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderComponent1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderComponent1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeaderComponent2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeaderComponent2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterComponent1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterComponent1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterComponent2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterComponent2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
